 <%= render partial: "shared/logout"%>

<ul class="ul-box">
  <li class="li-box">
    <h2>Create a New Recipe</h2>
  </li>
  <li class="li-box">
    <%= form_with model: @recipe, url: recipes_path do |form| %>
      <div>
        <%= form.text_field :title, placeholder: 'Enter name', required: true, class: 'form-input' %>
      </div>
      <div>
        <%= form.text_area :body, placeholder: 'Enter recipe description...', required: true, class: 'form-text-area' %>
      </div>
      <div>
        <%= form.number_field :body, placeholder: 'Enter cooking time...', required: true, class: 'form-text-area' %>
      </div>
      <div>
        <%= form.number_field :body, placeholder: 'Enter preparation time...', required: true, class: 'form-text-area' %>
      </div>
       <div class="field">
            <%= form.label :public %>
            <%= form.select :public, options_for_select(['true', 'false']), prompt: 'Select a category' %>
        </div>
      <%= form.submit "Create Post", class: "button form-button" %>
    <% end %>
  </li>
</ul>